/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define SYMBOL 1
#define NAVIGATION 2
#define BLUETOOTH 3
#define NUMPAD 4

&lt {
    quick_tap_ms = <220>;
    tapping-term-ms = <220>;
    quick-tap-ms = <220>;
    flavor = "tap-preferred";
};

&sl { release-after-ms = <5000>; };

/ {
    behaviors {
        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "HT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <220>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE        &kp N1  &kp N2            &kp N3    &kp N4                 &kp N5                                                                 &kp N6          &kp N7              &kp N8                &kp N9    &kp N0    &kp RBKT
&ht LWIN ESC     &kp Q   &kp W             &kp E     &kp R                  &kp T                                                                  &kp Y           &kp U               &kp I                 &kp O     &kp P     &ht RWIN LBKT
&ht LCTRL GRAVE  &kp A   &kp S             &kp D     &kp F                  &kp G                                                                  &kp H           &kp J               &kp K                 &kp L     &kp SEMI  &ht RCTRL SQT
&ht LALT BSLH    &kp Z   &kp X             &kp C     &kp V                  &kp B            &ht LC(LS(LALT)) LG(SPACE)    &ht LC(LS(LALT)) MINUS  &kp N           &kp M               &kp COMMA             &kp DOT   &kp FSLH  &ht RALT EQUAL
              &kp LEFT_COMMAND  &lt NUMPAD LEFT_ALT  &lt NAVIGATION ESCAPE  &ht LSHFT SPACE  &lt SYMBOL TAB                &lt SYMBOL RET          &ht RSHFT BSPC  &lt NAVIGATION DEL  &lt NUMPAD RIGHT_ALT  &kp RIGHT_COMMAND
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        symbol_layer {
            bindings = <
&trans              &kp F1           &kp F2         &kp F3            &kp F4             &kp F5                       &kp F6     &kp F7         &kp F8                &kp F9                 &kp F10       &kp F11
&trans              &kp SQT          &kp LESS_THAN  &kp GREATER_THAN  &kp DOUBLE_QUOTES  &kp DOT                      &kp AMPS   &kp SEMICOLON  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERCENT   &kp F12
&trans              &kp EXCLAMATION  &kp MINUS      &kp PLUS          &kp EQUAL          &kp HASH                     &kp PIPE   &kp COLON      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp QUESTION  &trans
&ht LEFT_ALT EQUAL  &kp CARET        &kp SLASH      &kp ASTERISK      &kp BACKSLASH      &kp GRAVE  &trans    &trans  &kp TILDE  &kp DOLLAR     &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp AT_SIGN   &trans
                                     &trans         &trans            &trans             &trans     &trans    &trans  &trans     &trans         &trans                &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        navigation_layer {
            bindings = <
&trans  &kp SCROLLLOCK  &trans     &trans       &trans     &trans                           &trans    &trans    &trans        &trans         &trans  &kp PRINTSCREEN
&trans  &kp INS         &kp PSCRN  &kp K_CMENU  &none      &none                            &none     &kp HOME  &none         &kp PAGE_UP    &none   &trans
&trans  &kp CAPSLOCK    &none      &to NUMPAD   &none      &none                            &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT      &none   &trans
&trans  &kp LG(Z)       &kp LG(X)  &kp LG(C)    &kp LG(V)  &sl BLUETOOTH  &trans    &trans  &none     &kp END   &kp INS       &kp PAGE_DOWN  &none   &trans
                        &trans     &trans       &trans     &trans         &trans    &trans  &trans    &trans    &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        bluetooth_layer {
            bindings = <
&to DEFAULT  &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &trans  &trans  &trans  &trans  &trans  &trans
&trans       &none           &none         &none         &none         &none                           &none   &none   &none   &none   &none   &trans
&trans       &bt BT_CLR_ALL  &none         &none         &none         &none                           &none   &none   &none   &none   &none   &trans
&trans       &none           &none         &bt BT_CLR    &none         &trans        &trans    &none   &none   &none   &none   &none   &none   &trans
                             &trans        &trans        &to DEFAULT   &trans        &trans    &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        numpad_layer {
            bindings = <
&to DEFAULT         &kp F1           &kp F2        &kp F3  &kp F4        &kp F5                                     &trans    &trans    &trans        &trans         &trans  &kp PRINTSCREEN
&trans              &kp KP_ASTERISK  &kp N7        &kp N8  &kp N9        &kp PLUS                                   &none     &kp HOME  &none         &kp PAGE_UP    &none   &trans
&trans              &kp SLASH        &kp NUMBER_4  &kp N5  &kp NUMBER_6  &kp MINUS                                  &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT      &none   &trans
&ht LEFT_ALT EQUAL  &kp N0           &kp N1        &kp N2  &kp NUMBER_3  &kp DOT    &ht LC(LS(LALT)) ESC    &trans  &none     &kp END   &kp INS       &kp PAGE_DOWN  &none   &trans
                                     &trans        &trans  &to DEFAULT   &trans     &trans                  &trans  &trans    &trans    &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
