/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
// Useful web keymap editor
// https://nickcoutsos.github.io/keymap-editor/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define SYMBOL 1
#define NAVIGATION 2
#define BLUETOOTH 3

&lt {
    quick_tap_ms = <220>;
    tapping-term-ms = <220>;
    quick-tap-ms = <220>;
    flavor = "tap-preferred";
};

&sl { release-after-ms = <5000>; };

/ {
    behaviors {
        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "HT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <220>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_undo {
            bindings = <&kp LG(Z)>;
            key-positions = <37 25>;
        };

        combo_cut {
            bindings = <&kp LG(X)>;
            key-positions = <38 26>;
        };

        combo_copy {
            bindings = <&kp LG(C)>;
            key-positions = <39 27>;
        };

        combo_paste {
            bindings = <&kp LG(V)>;
            key-positions = <40 28>;
        };

        combo_bluetooth {
            bindings = <&to BLUETOOTH>;
            key-positions = <41 17>;
        };

        combo_f1 {
            bindings = <&kp F1>;
            key-positions = <13 1>;
        };

        combo_f2 {
            bindings = <&kp F2>;
            key-positions = <14 2>;
        };

        combo_f3 {
            bindings = <&kp F3>;
            key-positions = <15 3>;
        };

        combo_f4 {
            bindings = <&kp F4>;
            key-positions = <16 4>;
        };

        combo_f5 {
            bindings = <&kp F5>;
            key-positions = <17 5>;
        };

        combo_f6 {
            bindings = <&kp F6>;
            key-positions = <18 6>;
        };

        combo_f7 {
            bindings = <&kp F7>;
            key-positions = <19 7>;
        };

        combo_f8 {
            bindings = <&kp F8>;
            key-positions = <20 8>;
        };

        combo_f9 {
            bindings = <&kp F9>;
            key-positions = <21 9>;
        };

        combo_f10 {
            bindings = <&kp F10>;
            key-positions = <10 22>;
        };

        combo_f11 {
            bindings = <&kp F11>;
            key-positions = <11 23>;
        };

        combo_f12 {
            bindings = <&kp F12>;
            key-positions = <23 35>;
        };

        combo_lock_symbol_layer {
            bindings = <&tog NAVIGATION>;
            key-positions = <59 58>;
        };

        combo_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 12>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE        &kp N1  &kp N2    &kp N3        &kp N4                 &kp N5                                                                 &kp N6          &kp N7              &kp N8         &kp N9     &kp N0    &kp RBKT
&ht LGUI TAB     &kp Q   &kp W     &kp E         &kp R                  &kp T                                                                  &kp Y           &kp U               &kp I          &kp O      &kp P     &ht RGUI LBKT
&ht LCTRL GRAVE  &kp A   &kp S     &kp D         &kp F                  &kp G                                                                  &kp H           &kp J               &kp K          &kp L      &kp SEMI  &ht RCTRL SQT
&ht LALT BSLH    &kp Z   &kp X     &kp C         &kp V                  &kp B            &ht LC(LS(LALT)) LG(SPACE)    &ht LC(LS(LALT)) MINUS  &kp N           &kp M               &kp COMMA      &kp DOT    &kp FSLH  &ht RALT EQUAL
                         &kp LGUI  &kp LEFT_ALT  &lt NAVIGATION ESCAPE  &ht LSHFT SPACE  &lt SYMBOL TAB                &lt SYMBOL RET          &ht RSHFT BSPC  &lt NAVIGATION DEL  &kp RIGHT_ALT  &kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        symbol_layer {
            bindings = <
&trans              &kp F1           &kp F2         &kp F3            &kp F4             &kp F5                       &kp F6     &kp F7         &kp F8                &kp F9                 &kp F10       &kp F11
&trans              &kp SQT          &kp LESS_THAN  &kp GREATER_THAN  &kp DOUBLE_QUOTES  &kp DOT                      &kp AMPS   &kp SEMICOLON  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERCENT   &kp F12
&trans              &kp EXCLAMATION  &kp MINUS      &kp PLUS          &kp EQUAL          &kp HASH                     &kp PIPE   &kp COLON      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp QUESTION  &trans
&ht LEFT_ALT EQUAL  &kp CARET        &kp SLASH      &kp ASTERISK      &kp BACKSLASH      &kp GRAVE  &trans    &trans  &kp TILDE  &kp DOLLAR     &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp AT_SIGN   &trans
                                     &trans         &trans            &to DEFAULT        &trans     &trans    &trans  &trans     &trans         &trans                &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        navigation_layer {
            bindings = <
&to DEFAULT         &kp F1           &kp F2        &kp F3  &kp F4        &kp F5                                     &kp F6    &kp F7         &kp F8        &kp F9     &kp F10          &kp F11
&trans              &kp KP_ASTERISK  &kp N7        &kp N8  &kp N9        &kp PLUS                                   &kp INS   &none          &none         &none      &kp PRINTSCREEN  &kp F12
&trans              &kp SLASH        &kp NUMBER_4  &kp N5  &kp NUMBER_6  &kp MINUS                                  &kp LEFT  &kp DOWN       &kp UP_ARROW  &kp RIGHT  &none            &trans
&ht LEFT_ALT EQUAL  &kp N0           &kp N1        &kp N2  &kp NUMBER_3  &kp DOT    &ht LC(LS(LALT)) ESC    &trans  &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP   &kp END    &none            &trans
                                     &trans        &trans  &to DEFAULT   &trans     &trans                  &trans  &trans    &trans         &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        bluetooth_layer {
            bindings = <
&to DEFAULT  &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &trans  &trans  &trans  &trans  &trans  &trans
&trans       &none           &none         &none         &none         &none                           &none   &none   &none   &none   &none   &trans
&trans       &bt BT_CLR_ALL  &none         &none         &none         &none                           &none   &none   &none   &none   &none   &trans
&trans       &none           &none         &bt BT_CLR    &none         &trans        &trans    &none   &none   &none   &none   &none   &none   &trans
                             &trans        &trans        &to DEFAULT   &trans        &trans    &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };
    };
};
